/* This file contains all CSS variables that would be used in many places in project */

:root {
  --half-rem: 0.5rem;
  --one-rem: 1rem;
  --one-half-rem: 1.5rem;
  --two-rem: 2rem;
  --two_half-rem: 2.5rem;
  --three-rem: 3rem;
  --fz-8: 8px;
  --fz-10: 10px;
  --fz-12: 12px;
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-18: 18px;
  --fz-20: 20px;
  --fz-24: 24px;
  --fz-30: 30px;
  --fz-35: 35px;
  --fz-36: 36px;
  --fz-40: 40px;
  --fz-48: 48px;
  --fz-60: 60px;
  --fz-72: 72px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --freq-font-color: rgba(255, 255, 255, 0.697);
  --main-padding: 60px;
  --color-dark-bg: #101828;
  --color-card-bg: #1e2939;
  --color-light-bg: #f9fafb;
  --color-white: #ffffff;
  --color-gray-light: #d1d5dc;
  --color-gray-medium: #4a5565;
  --color-gray-dark: #444;
  --color-border: #e5e7eb;
  --color-red: red;
  --shadow-light: 0 10px 20px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 5px 10px rgba(0, 0, 0, 0.4);
  --red: #e02020;
  --red-light: #fdecea;
  --red-mid: #fbbfbf;
  --dark: #1a1a1a;
  --text: #2d2d2d;
  --muted: #6b6b6b;
  --border: #e8e8e8;
  --bg: #ffffff;
  --card-bg: #1e2230;
}
