/* This file contains all CSS variables that would be used in many places in project */

:root {
  --half-rem: 0.5rem;
  --one-rem: 1rem;
  --one-half-rem: 1.5rem;
  --two-rem: 2rem;
  --two_half-rem: 2.5rem;
  --three-rem: 3rem;
  --fz-8: 8px;
  --fz-10: 10px;
  --fz-14: 14px;
  --fz-12: 12px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-24: 24px;
  --fz-30: 30px;
  --fz-35: 35px;
  --fz-36: 36px;
  --fz-40: 40px;
  --fz-48: 48px;
  --fz-60: 60px;
  --fz-72: 72px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --freq-font-color: rgba(255, 255, 255, 0.697);
}
