/* Write the code for footer section here */
.footer {
  padding-block: 40px;
  background-color: #101828;
}
.c-1,
.c-2 {
  display: flex;
  flex-direction: column;
}
.footer .footer-logo {
  text-transform: uppercase;
  font-weight: var(--fw-700);
  color: white;
  font-size: var(--fz-30);
}

.footer-content {
  flex-direction: column;
  margin-block: 50px;
}
.footer .fa-dumbbell {
  color: red;
  font-weight: var(--fw-700);
  font-size: var(--fz-30);
  margin-right: 10px;
  transform: rotate(45deg);
}

.footer-logo,
.footer-q-links,
.contact-info {
  margin-bottom: 20px;
}

.footer-logo p {
  color: var(--freq-font-color);
  font-size: var(--fz-14);
  margin-block: 25px;
  font-weight: var(--fw-500);
}

.footer-logo ul li a {
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.112);
}
.footer-logo ul li {
  margin-right: 20px;
}
.footer-logo ul li a i {
  font-size: 15px;
}
.footer-logo ul li a:hover {
  background-color: red;
}
.footer h2 {
  color: white;
  font-size: var(--fz-20);
  margin-bottom: 20px;
  font-weight: var(--fw-700);
}

.footer-q-links li {
  text-transform: capitalize;
  color: var(--freq-font-color);
  margin-bottom: 15px;
  font-weight: var(--fw-600);
}
.footer-q-links a:hover,
.footer-c-2 a:hover {
  color: red;
}
.contact-info span {
  color: var(--freq-font-color);
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
}
.contact-info span i {
  color: red;
}

.footer-c-2 {
  border-top: 1px solid #1e2939;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--freq-font-color);
}
.footer-c-2 li {
  padding-left: 0;
}
.footer-c-2 li a {
  font-size: 6px;
  font-weight: var(--fw-600);
  padding-inline: 20px;
}
.footer-c-2 span {
  margin-bottom: 12px;
}
/* Media Queries if needed */
@media (min-width: 576px) {
  .footer-c-2 li a {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .footer-logo {
    width: 33%;
    margin-right: 30px;
  }
  .footer-c-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .footer-c-2 span {
    margin-bottom: 0;
  }
  .footer-c-2 li a {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .footer-logo,
  .footer-q-links,
  .contact-info {
    margin-bottom: 0;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
