/* Write the code for main section here */

.main {
  background-image: url("../../Assets/bg-photo.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.main .details {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.main .content h1 {
  font-size: var(--fz-30);
  color: white;
  padding-bottom: 2rem;
  font-weight: var(--fw-700);
}
.main .content {
  width: 80%;
}
.main .content span {
  color: #e7000b;
}
.main .content p {
  color: #dde0e6;
  margin-bottom: 20px;
  font-weight: var(--fw-500);
  font-size: var(--fz-15);
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.btns div {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: var(--fw-600);
  border-radius: 10px;
  cursor: pointer;
  background: none;
  width: 100%;
}
.btns .b1 {
  background-color: red;
  color: white;
  border: none;
}
.btns .b2 {
  color: white;
  border: 2px solid white;
}
.btns .b1:hover {
  transform: scale(1.05);
}
.btns .b2:hover {
  transform: scale(1.05);
  background-color: aliceblue;
  color: black;
}

/* Media Queries if needed */
@media (min-width: 576px) {
  .btns {
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .btns .b1 {
    width: 40%;
  }
  .btns .b2 {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .main .content h1 {
    font-size: var(--fz-60);
  }

  .content p {
    font-size: var(--fz-20);
  }

  .btns {
    flex-direction: row;
    width: 80%;
    justify-content: center;

    top: 67%;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
